<nav class="menu">
  <span class="menu-heading">WebPonize</span>
  <a class="menu-item" href="#about">
    <span class="octicon octicon-home"></span>
    About
  </a>
  <a class="menu-item" href="#download">
    <span class="octicon octicon-cloud-download"></span>
    Download
  </a>
  <a class="menu-item" href="#installation">
    <span class="octicon octicon-plus"></span>
    Installation
  </a>
  <a class="menu-item" href="#usage">
    <span class="octicon octicon-question"></span>
    Usage
  </a>
  <a class="menu-item" href="#feedback">
    <span class="octicon octicon-megaphone"></span>
    Feedback
  </a>
  <a class="menu-item" href="#link">
    <span class="octicon octicon-link-external"></span>
    Link
  </a>
</nav>